.navbarOption {
    
    align-items: center;
    
}

.navbarOption:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: lightblue;
    transition: color 100ms ease-out;
}
